body{
    background-color: rgb(23, 136, 23);
    display: grid;
    place-content: center;
    height: 100vh;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: sans-serif;
    color: black;
    width: 100%;
    text-align: center;
}

.formulario{
    display: flex;
    width: 100%;
}

.formulario input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize:none;
    outline: none;
}

.formulario button{
    appearance: none;
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(23, 136, 23, 0.397);
    cursor: pointer;
    margin-left: 5px;
}