*{
    font-family: sans-serif;
}

body{
    background-color: rgb(23, 136, 23);
    display: grid;
    place-content: center;
    height: 100vh;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: sans-serif;
    color: black;
    width: 100%;
    text-align: center;
}

.formulario{
    display: flex;
    width: 100%;
}

.formulario input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize:none;
    outline: none;
}

.formulario button{
    appearance: none;
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(23, 136, 23, 0.397);
    cursor: pointer;
    margin-left: 5px;
}

.task-item{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 5px solid rgba(23, 136, 23, 0.397);
    border-radius: 15px;
    margin-bottom: 5px;
    gap:10px;
    flex-flow: row;
}

.tasks-list{
    list-style: none;
    width: 100%;
    padding: 0;
}

.task-item completed{
    background-color: rgba(23, 136, 23, 0.397);
    font-weight: bolder;
}

.task-item completed{
    text-decoration: line-through;
}